    {% extends 'blog/base.html' %}
    {% load crispy_forms_tags %}

    {% block main_area %}
                    <!-- Post content-->
        <article xmlns="http://www.w3.org/1999/html">
                        <!-- Post header-->
                    <div id="post-area">
                        <header class="mb-4">
                            <!-- Post categories-->
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">
                            {% if post.category %}
                            <span class="badge bg-secondary float-light">{{ post.category }}</span>
                            {% else %}
                            <span class="badge bg-secondary float-light">미분류</span>
                            {% endif %}
                            {{ post.title }}
                            {% if user.is_authenticated and user == post.author %}
                                <a class="btn btn-primary float-end" href="/blog/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"> Edit Post</i></a>
                            {% endif %}
                            </h1>
                            <!-- hook -->
                            {% if post.hook_text %}
                                <h5 class="text-muted">{{ post.hook_text }}</h5>
                            {% endif %}
                            <!-- file -->
                            {% if post.file_upload %}
                                <div style='float: right;'><a href="{{ post.file_upload.url }}" download="True">
                                    <button type="button" class="btn btn-outline-primary"><i class="far fa-save"></i> Download : {{ post.get_file_name }}</button></a></div>
                            {% endif %}
                            <!-- Author -->
                            <p class="lead">by <a href="#">{{ post.author }}</a></p>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
                        </header>
                        <!-- Preview image figure-->
                        {% if post.head_image %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." /></figure>
                        {% else %}
                        <!--<img class="card-img-top" src="/static/img/no_image.png" alt="Card image cap">-->
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/600" alt="random">
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.get_content_markdown | safe }}</p>
                        </section>
                        {% if post.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in post.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class="badge rounded-pill bg-secondary">{{ tag }}</span></a>
                            {% endfor %}
                            <br/>
                            <br/>
                        {% endif %}
                    </div>
                    </article>


                    <div id="comment-area">
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                        <h5 class="card-header">Leave a Comment : </h5>
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                        {{ comment_form | crispy}}
                                        <!--<textarea class="mb-3 form-control" rows="3" placeholder="댓글을 남겨주세요."></textarea>-->
                                        </div>
                                        <button type="submit" class="btn btn-primary float-end mt-2">댓글작성</button>
                                    </form>
                                {% else %}
                                    <a role="button" class="btn btn-outline-dark btn-block btn-toolbar justify-content-center" href="#" data-toggle="modal" data-target="#loginModal">로그인 후 댓글을 작성하실수 있습니다.</a>
                                {% endif %}
                            </div>
                        </div>

                        {% if post.comment_set.exists %}
                            {% for comment in post.comment_set.iterator %}
                                {% if user.is_authenticated and comment.author == user %}
                                <div class="dropdown mt-4" style="float: right" id="comment-{{ comment.pk }}-update-btn">
                                    <button class="dropbtn btn btn-primary"><i class="fas fa-caret-down"></i></button>
                                    <div class="dropdown-content">
                                      <a href="/blog/update_comment/{{ comment.pk }}/">수정</a>
                                      <a role="button" href="#" id="comment-{{ comment.pk }}-delete-modal-btn" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">삭제</a>
                                    </div>
                                    </div>
                                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="alertdialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">정말 삭제하시겠습니까?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <del>{{ comment | linebreaks }}</del>
                                            </div>
                                            <div class="modal-footer">
                                                <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/">삭제</a>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}
                                <div class="d-flex m-3">
                                    <div class="m-3 flex-shrink-0"><img class="rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.get_avatar_url }}" width="60px"/></div>
                                    <div class="mt-3">
                                    <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                                  </div>
                                    {{ comment.content | linebreaks }}
                                </div>
                                </div>
                                {% if comment.created_at != comment.modified_at %}
                                    <p class="text-muted float-end"><small>Updated: {{ comment.modified_at }}</small></p>
                                {% endif %}
                                <hr style="border: none; border-top: solid gray; color: #fff; background-color: #fff; height: 1px; width: 100%">
                            {% endfor %}
                        {% endif %}
                    </section>
                    </div>
                    </hr>
    {% endblock %}